{%extends 'base.html'%}


{%block head%}

<title>Home</title>

{%endblock%}

{%block body%}
<div class="jumbotron jumbotron-fluid">
<div class="container">
<div class="container">
    <div class="row">
        <div class="col-sm-6">

            <a style="color:white" href="/view"> <button type="button" class="btn btn-primary btn-lg" >View Records</button></a>
            <a style="color:white" href="/analyse"> <button type="button" class="btn btn-primary btn-lg" >Analyse Records</button></a>
        </div>
         <div class="col-sm-6">

        </div>
    </div>
</div>
</div>
</div>

{%endblock%}