{%extends 'base.html'%}
{%block head%}
  <title>View</title>
{%endblock%}

{%block body%}
<div class="jumbotron jumbotron-fluid">
 <div class="container">
   <div class="row">
    <div class="col-sm-10">
     <table cellpadding="20" cellspacing="20">
    <tr>
    <td align="center">Reg No</td>
    <td align="center">Sinhala</td>
    <td align="center">English</td>
    <td align="center">Science</td>
    <td align="center">Maths</td>
    <td align="center">History</td>
     <td align="center">Religion</td>
     <td align="center">Group1</td>
     <td align="center">Group2</td>
     <td align="center">Group3</td>
   </tr>

    {%for row in itercsvfile%}
    <tr>
     <td align="center" >
       <h5>
      {%print(row[0])%}
       </h5>
      </td>
      <td align="center">
       <h5>
      {%print(row[1])%}
       </h5>
      </td>
      <td align="center">
       <h5>
      {%print(row[2])%}
       </h5>
      </td>
      <td align="center">
       <h5>
      {%print(row[3])%}
       </h5>
      </td>
      <td align="center">
       <h5>
      {%print(row[4])%}
       </h5>
      </td>
     <td align="center">
       <h5>
      {%print(row[5])%}
       </h5>
      </td>
     <td align="center">
       <h5>
      {%print(row[6])%}
       </h5>
      </td>
     <td align="center">
       <h5>
      {%print(row[7])%}
       </h5>
      </td>
     <td align="center">
       <h5>
      {%print(row[8])%}
       </h5>
      </td>
     <td align="center">
       <h5>
      {%print(row[9])%}
       </h5>
      </td>

    </tr>
    {%endfor%}
</table>
        </div>
         <div class="col-sm-2">
          <a  href="/home"> <button type="button" class="btn btn-primary btn-lg" >Back</button></a>
         </div>
</div>
</div>
</div>

{%endblock%}